<h1>@portfolio.name</h1>
<h2>@portfolio.description</h2>
<table>
  <tr>
    <th>Asset</th>
    <th>Currency</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Unit Purchasing Price</th>
    <th>PNL</th>
    <th>PNL local Currency</th>
    <th>Total Value</th>
    <th>Account</th>
    <th>Asset Type</th>
    <th>Ticker</th>
    <th>Asset Sector</th>
    <th>Asset Sub-Sector</th>
  </tr>
  <tr>
  </tr>
</table>