<h1>Asset</h1>
<table>
    <tr>
        <th>Asset</th>
        <th>Unit Price</th>
        <th>Unit Purchasing Price</th>
        <th>Currency</th>
        <th>PNL</th>
        <th>Account</th>
        <th>Type</th>
        <th>Ticker</th>
        <th>Sector</th>
        <th>SubSector</th>
    </tr>
    <tr>
      <%= render 'asset' %></div>
    </tr>
</table>

<%= link_to "Back", owner_portfolio_assets_path %>
